.mainContainer {
    display: flex;
    flex-direction: row;
    gap: 20px;
    padding: 20px;
}

.mainContainer img {
    width: 45%;
    height: auto;
    border-radius: 8px;
}

.drinkDataContainer {
    display: flex;
    flex-direction: column;
    gap: 10px;
}