.characterContainer {
  width: 100%;
  display: flex;
  flex-direction: row;
  padding: 10px;
  background-color: rgba(27, 31, 89, 0.8);
  border-radius: 25px;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  gap: 25px;
}

.characterContainer img {
  border-radius: 50%;
  height: 150px;
}

.characterInfo {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  color: white;
}
