.mainContainer {
  background-color: #0f172a;
  color: #e2e8f0;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2rem;
}

.searchContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.searchContainer input {
  border: none;
  padding: 8px 16px;
  border-radius: 8px;
  margin-top: 10px;
}

.searchContainer button {
  background-color: #6366f1;
  color: white;
  border: none;
  padding: 8px 16px;
  border-radius: 8px;
  margin-top: 10px;
  cursor: pointer;
}

.searchContainer button:hover {
  background-color: #4f46e5;
}

.cocktailContainer {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  color: white;
  gap: 2rem;
  padding: 2rem;
}

.cocktailContainer img {
  width: 200px;
  height: auto;
  border-radius: 8px;
}
